<html>
    <head>
      <title>Dupnij wiaderko</title>
    </head>
    <body>
        <div>
          <h1><a href="/">Twój stary na rowerze - blog turystyczny</a></h1>
        </div>

        <div>
          <p>opublikowano: 4:20</p>
          <p><a href="">twój stary na rowerze</a></p>
          <p><em>wali wiadro</em></p>
          <p>z bidonu</p>
        </div>

        <div>
          <p>opublikowano: 21:37</p>
          <h2><a href="">"Tajemnica Watykanu"</a></h2>
          <p>JP2GMD</p>
        </div>
    </body>
</html>
